.thumb-container {
  background-color: hsl(200, 4%, 87%);
  max-width: 400px;
  border: 1px solid gray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px 4px;
  cursor: pointer;
}

.thumbcard {
  margin: 8px 8px;
}

figure {
  width: 100%;
  height: 230px;
  margin: 0;
  padding-bottom: 2px;
}

figure figcaption {
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px;
}
figure img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
}

@media (min-width: 600px) {
  .thumb-container {
    max-width: 90%;
  }
}
