:root {
  --main-bg-color: #695546;
  --light-wooden-color: #8e8177;
  --text-color: #2fb9e5;
  --gray-transparent: #2c241d;
}

.container {
  position: relative;
  width: 460px;
  margin: 12px auto;
}

.model {
  position: absolute;
  color: var(--light-wooden-color);
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: #2c241d;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.model button {
  margin: 8px auto;
  /* background-color: var(--gray-transparent); */
  /* color: var(--text-color); */
  /* padding: 16px 12px; */
}

.color-container {
  background-color: var(--main-bg-color);
  width: 90%;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 2px;
}
.color-header {
  width: 100%;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: end;
  /* background-color: var(--light-wooden-color); */
}

.control {
  background-color: var(--light-wooden-color);
  margin: auto 8px;
  padding: 1px 4px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 600;
}

.tip-text {
  padding: 0;
  margin: 18px 0;
  color: white;
}

.box {
  width: 100px;
  height: 50px;
  border: 1px solid var(--main-bg-color);
  border-radius: 12px;
  margin: 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box-color {
  background-color: blue;
}

.box p {
  color: red;
  font-weight: 900;
  font-size: 22px;
  text-transform: capitalize;
}

.color-actions {
  /* background-color: #2c241d; */
  width: 90%;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-actions button {
  width: 30%;
  padding: 16px 12px;
  color: var(--text-color);
  background-color: var(--gray-transparent);
}
